
# Created by https://www.gitignore.io/api/latex
# Edit at https://www.gitignore.io/?templates=latex

### LaTeX ###
## Core latex/pdflatex auxiliary files:
/Main/*
# Sauf

!*.tex
!*.pdf
!*.bib

# End of https://www.gitignore.io/api/latex
